<?php include ('snippets/_header.php'); ?>


	<div class="container-fluid">
		<div class="inner">

			<?php include ('snippets/sidebar.php'); ?>

			<div class="content">
				<header class="site-header">
					<h6>September 4</h6>
					<h1 class="z">Week 01</h1>
				</header>

				<section id="description">
					<div class="container-fluid">

						<div class="inner">
							<div class="section-header">
								<h2>Lab</h2>
							</div>
							<div class="section-content">
								<p>Class cancelled</p>
							</div>
						</div>

					</div>
				</section>

			</div>

		</div>
	</div>

<?php include ('snippets/_footer.php'); ?>
