{% extends layout %}

{% block body %}

<div class="template-class-list">
	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6></h6>
					<h1>Class list</h1>
				</header>

				<section>
					<div class="container-fluid">

						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">01</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Shruti</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">02</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Kaylin</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">03</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Alfonso</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">04</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Talia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">05</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Sylvia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">06</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Katie</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">07</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Mariana</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">08</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Rachel</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">09</h6>
							</div>
							<div class="section-content">
								<h4><a href="">David</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">10</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Satoe</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">11</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Owen</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Shreya</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Coco</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Stephen</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="">Olivia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~heftmanj/">Jacob</a></h4>
							</div>
						</div>

					</div>
				</section>


			</div>

		</div>
	</div>
</div>

{% endblock %}
