{% extends layout %}

{% block body %}

<div class="template-class-list">
	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6></h6>
					<h1>Class list</h1>
				</header>

				<section>
					<div class="container-fluid">

						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">01</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~ashos369">Shruti</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">02</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~">Kaylin</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">03</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~">Alfonso</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">04</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~cottt417">Talia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">05</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~epsts915">Sylvia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">06</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~fullk232">Katie</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">07</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~gavim152">Mariana</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">08</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~kahnr081">Rachel</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">09</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~nid908">David</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">10</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~onizs854">Satoe</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">11</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~paceo872">Owen</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">12</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~razas039">Shreya</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">13</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~reisc197">Coco</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">14</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~salos923">Stephen</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">15</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~yanj480">Olivia</a></h4>
							</div>
						</div>
						<div class="subsection">
							<div class="section-header">
								<h6 class="txt-strong list-number">16</h6>
							</div>
							<div class="section-content">
								<h4><a href="http://b.parsons.edu/~heftmanj/">Jacob</a></h4>
							</div>
						</div>

					</div>
				</section>


			</div>

		</div>
	</div>
</div>

{% endblock %}
