{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>December 18</h6>
					<h1 class="z">Week 16</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Final Assignment</h2>
							</div>
							<div class="section-content">
								<p>
									Your final project is to create a showcase (or portfolio) of every project we’ve done this semester. It should live on your class homepage, which may or may not be the <code>index.html</code> file in the <code>public_html</code> folder on your server.
								</p>
								<p>
									The goal of this page is to show off your work from the semester. It should be visually compelling and easy to navigate. Since the class is focused on JavaScript and not HTML, how will you utilize those skills on this page to interesting (and useful) effect?
								</p>
								<p>
									Think about how you will organize your projects too. For example, how would you represent a Codecademy assignment vs. an original piece of work you created. How would you show a multi-part project like our concert posters from weeks 1-3? Or a project like the console app that doesn't really look like anything?
								</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Examples of nice project showcases</h2>
							</div>
							<div class="section-content">
								<p><a href="http://beijing-connection.com">ECAL Beijing Connection</a></p>
								<p><a href="http://printedweb.org">Printed Web</a></p>
								<p><a href="https://www.chromeexperiments.com">Chrome Experiments</a>
								<p><a href="http://dow-smith.com">Jake Dow-Smith</a>
								p><a href="http://www.fullstopnewparagraph.co.uk">Full Stop New Paragraph</a>
							</div>
						</div>

					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
