{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 4</h6>
					<h1 class="z">Week 01</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Introduction to Creative Computing</h2>
							</div>
							<div class="section-content">
								<h5>Assignment</h5>
								<ol>
									<li>Create a design for a concert poster that is informative and also that you find visually compelling.</li>
									<li> Write a ‘program’ that allows someone to replicate your design. What kinds of things do we need to include in our program? What kinds of things can leave out?</li>
								</ol>
								<br>
								<h5>Reading</h5>
								<p><a href="http://www.bloomberg.com/graphics/2015-paul-ford-what-is-code/">What Is Code?</a>, Paul Ford</p>
								<h5>Tools and Resources</h5>
								<ul>
									<li><a href="https://atom.io/">Atom &rarr; </a></li>
									<li><a href="http://www.sublimetext.com/">Sublime Text &rarr; </a></li>
									<li><a href="http://www.barebones.com/products/textwrangler/">TextWrangler &rarr; </a></li>
									<li><a href="https://cyberduck.io/?l=en">Cyberduck &rarr; </a></li>
									<li><a href="https://github.com/">Github &rarr; </a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
