{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>December 4</h6>
					<h1 class="z">Week 14</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
                <p>
                  For this week’s assignment, you’ll be making up your own project. Think about:
                  <br>
                  <ul>
                    <li>+ The tools and techniques we’ve learned so far.</li>
                    <li>+ Examples, readings, artists, etc. we‘ve discussed in class.</li>
                    <li>+ Technologies you’re interested in that we haven’t covered.</li>
                    <li>+ Original content or research (text, photographs, etc.).</li>
                  </ul>
                </p>
                <p>
                  Coding is just another design tool, so make sure that an original concept and solid design lead the technology choices. Execution > complexity.
                </p>
                <br>
							</div>
						</div>
            <div class="inner">
              <div class="section-header">
                <h2>Also</h2>
              </div>
              <div class="section-content">
                <p>
                  You may go back and fix/improve/whatever any of your previous assignments to be turned in as part of your final project.
                </p>
              </div>
            </div>
            <div class="inner">
              <div class="section-header">
                <h2>Final project</h2>
              </div>
              <div class="section-content">
                <p>Remember to continue working on your final project. See <a href="week-16.html">Week 16</a> for more information.</p>
              </div>
            </div>
            <div class="inner">
              <div class="section-header">
                <h2>Resources</h2>
              </div>
              <div class="section-content">
                <ol>
                  <li>Instagram: <a href="http://techmonks.net/instagram-using-the-api/">API reference</a> and <a href="https://github.com/jheftmann/cc-f15/tree/master/code_samples/API%20project">example code</a></li>
                </ol>
              </div>
            </div>
					</div>
        </div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
