{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 25</h6>
					<h1 class="z">Week 04</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>Create your own console program using at least one of each of the following coding concepts we covered in class:</p>
								<ol>
									<li>setting and getting variables</li>
								</ol>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href=""></a></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
