{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 4</h6>
					<h1 class="z">Week 01</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Introduction</h2>
							</div>
							<div class="section-content">
								<h5>Assignment</h5>
								<p></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
