{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 20</h6>
					<h1 class="z">Week 12</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
                <p>
                  First, you’ll need to download <a href="https://processing.org/download/">Processing</a>.
                </p>
								<p>Experiment with the Processing code we wrote in class, dig through the references at <a href="http://www.processing.org">Processing.org</a>, create your own assets, and think of your own uses for the concepts we covered in class. Since Processing won’t run in a browser, find a way to document the results and post them to a new project page (on your class website).</p>
							</div>
						</div>
					</div>
        </div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
