{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>October 9</h6>
					<h1 class="z">Week 06</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1</h2>
							</div>
							<div class="section-content">
								<p></p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 2</h2>
							</div>
							<div class="section-content">
								<p></p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Resources</h2>
							</div>
							<div class="section-content">
								<div class="links-list">
									<ul>
										<li><a href="http://www.jquery.com">jQuery reference</a></li>
										<li><a href="http://jquery.com/download/">jQuery code</a></li>
										<li><a href="https://github.com/jheftmann/cc-f15/blob/master/code_samples/jquery-intro.js">jQuery examples from class</a>
									</ul>
								</div>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href=""></a></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
