{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 20</h6>
					<h1 class="z">Week 12</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
                <p>
                  First, you’ll need to download <a href="https://processing.org/download/">Processing</a>.
                </p>
								<p>Play with your Processing drawings and document the results.</p>
                <!-- <p>
                  Here are the examples from class:
                  <ul>
                    <li>&rarr; <a href="https://gist.github.com/jprctr/cc43e1dcfcf7f3bceec0">p5js Recursion Example</a></li>
                    <li>&rarr; <a href="https://gist.github.com/jprctr/b92f1df5545c344418a1">p5js Recursion Style Variation</a></li>
                    <li>&rarr; <a href="https://gist.github.com/jprctr/c2d2a6aeb4e9e7fe371d">p5js Recursion Animation Variation</a></li>
                  </ul>
                </p> -->
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://www.dropbox.com/s/sikiju1edw37wwt/Karl-Gerstner_Designing-Programmes.pdf?dl=0">Designing Programmes, Gerstner</a></p>
							</div>
						</div>
					</div>
          <div class="inner">
            <div class="section-header">
              <h2>Next week</h2>
            </div>
            <div class="section-content">
              <p>Remember: there’s no class next week. Have a great Thanksgiving and see you the following week!</p>
            </div>
          </div>
        </div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
