{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>October 30</h6>
					<h1 class="z">Week 09</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1</h2>
							</div>
							<div class="section-content">
								<p>Use an array to create a list of images or texts. Use a <code>for</code> loop to render the items in your array in an interesting visual layout. Combine with any other concept we've learned so far. Feel free to design your desired result before writing your code.</p>
								<p>Remember: good concept > complexity (think about <a href="http://b4-16.tumblr.com">B4-XVI</a>)</p>
							</div>
						</div>

						<div class="inner">
							<div class="section-header">
								<h2>Assignment 2</h2>
							</div>
							<div class="section-content">
								<p>Codecademy <a href="https://www.codecademy.com/learn/javascript">Unit 3: 'for' Loops in JavaScript</a> (two lessons)</p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
