{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 18</h6>
					<h1 class="z">Week 03</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1</h2>
							</div>
							<div class="section-content">
								<p>Create your own console program using at least one of each of the following coding concepts we covered in class:</p>
								<ol>
									<li>setting and getting variables</li>
									<li>strings and integers</li>
									<li>printing to the console</li>
									<li>operators, e.g. greater than, less than, equal to, or, &amp; and</li>
									<li>conditionals, e.g. if, else, elseif</li>
									<li>console</li>
									<li>confirm and prompt</li>
									<li>math functions</li>
								</ol>
								<br>
								<p>Your program only needs to run in the console, but if you'd like to show things in the browser as well you can. Try to make your program original and creative. Simply changing the wording in the Codecademy example will only receive a passing grade.</p>
								<p>Turn your assignment in by <a href="mailto:avesd617@newschool.edu">emailing a .zip of all the code</a>. Make sure to include all necessary files &#8212; your program must run in a browser to receive credit.</p>
								<p>Bonus: Do your own research and push the code to your Github repository. Link to it in your email.</p>
							</div>
							<div class="section-header">
								<h2>Assignment 2</h2>
							</div>
							<div class="section-content">
								<p>Create an account at <a href="https://www.codecademy.com">Codecademy</a> and complete <a href="https://www.codecademy.com/en/tracks/javascript">Javascript: Introduction to Javascript</a> (both sections). <a href="mailto:avesd617@newschool.edu">Email</a> screenshots of the completed assignments.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Week 04</h2>
							</div>
							<div class="section-content">
								<p>I have to miss class but we will meet as usual.</p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
