{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 11</h6>
					<h1 class="z">Week 02</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>
									<ol>
										<li>Trade programs with your partner <strong>without showing them your design</strong></li>
										<li>Nicely ask that person to create a new design using your program</li>
										<li>Work with your partner to find a good way to present your programs and show your designs side-by-side</li>
									</ol>
								</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://www.dropbox.com/s/wm0e8792abb9g97/Paragraphs_on_Conceptual_Art_Sol_LeWitt.pdf?dl=0">Paragraphs on Conceptual Art</a>, Sol Lewitt</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Tools & Resources</h2>
							</div>
							<div class="section-content">
								<ul>
									<li><a href="https://atom.io/">Atom &rarr; </a></li>
									<li><a href="http://www.sublimetext.com/">Sublime Text &rarr; </a></li>
									<li><a href="http://www.barebones.com/products/textwrangler/">TextWrangler &rarr; </a></li>
									<li><a href="https://cyberduck.io/?l=en">Cyberduck &rarr; </a></li>
									<li><a href="https://github.com/">Github &rarr; </a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
