{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 6</h6>
					<h1 class="z">Week 10</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1:<br>Interactive collage</h2>
							</div>
							<div class="section-content">
								<ol>
									<li>Create (write, draw, photograph, etc.) materials for a collage.</li>
									<li>Use code to create your collage.</li>
									<li>Make your collage interactive. Think about how a user will interact with your collage. Can they alter it? Contribute to it?</li>
									<li>Document various states of the collage. What could you do with these? Are some more visually interesting than otheres?</li>
								</ol>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
