{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>October 22</h6>
					<h1 class="z">Week 08</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>Make sure that all your projects so far are completed and linked to from a page on your server.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://news.artnet.com/art-world/ways-of-seeing-instagram-37635">Ways of Seeing Instagram</a></p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Final project examples</h2>
							</div>
							<div class="section-content">
								<p><a href="http://beijing-connection.com">ECAL Beijing Connection</a></p>
								<p><a href="http://printedweb.org">Printed Web</a></p>
								<p><a href="https://www.chromeexperiments.com">Chrome Experiments</a>
								<p><a href="http://dow-smith.com">Jake Dow-Smith</a>
								p><a href="http://www.fullstopnewparagraph.co.uk">Full Stop New Paragraph</a>
							</div>
						</div>

					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
