{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 27</h6>
					<h1 class="z">Week 13</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>No class</h2>
							</div>
							<div class="section-content">
                <p>
                  Happy Thanksgiving.
                </p>
							</div>
						</div>
					</div>
        </div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
