{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 6</h6>
					<h1 class="z">Week 10</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1:<br>Interactive collage</h2>
							</div>
							<div class="section-content">
								<ol>
									<li>Create (write, draw, photograph, etc.) materials for a collage.</li>
									<li>Use the coding techniques we’ve learned so far to create your collage.</li>
									<li>Make your collage interactive. Will a user interact with it? Can they alter it? Contribute to it? Will it change over time?</li>
									<li>Document various states of the collage. What could you do with these? Are some more visually interesting than others?</li>
								</ol>
                <p>
                  Here is the one we made in class: <a href="http://b.parsons.edu/~heftmanj/week-10/">http://b.parsons.edu/~heftmanj/week-10/</a>. This example would require more work before I turned it in. Also, try to use things other than <code>draggable</code> and circles.
                </p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
