{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>October 9</h6>
					<h1 class="z">Week 06</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1</h2>
							</div>
							<div class="section-content">
								<p>Complete the two remaining <a href="https://www.codecademy.com/en/tracks/jquery">Codecademy sections on jQuery</a>.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 2</h2>
							</div>
							<div class="section-content">
								<p>jQuery plugins</p>
                <ol>
                  <li>Research available plugins.</li>
                  <li>Come up with a concept that requires a plugin to execute. You can also pair this with your other JavaScript/jQuery skills.</li>
                  <li>Turn this concept in a design <em>that you can build</em>.</li>
                  <li>Create any content you’ll need (e.g. photos for a slideshow).</li>
                  <li>Be prepared to present your designs next week. We will be coding these designs next week.</li>
                </ol>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Resources</h2>
							</div>
							<div class="section-content">
								<div class="links-list">
									<ul>
										<li><a href="http://www.jquery.com">jQuery reference</a></li>
										<li><a href="http://jquery.com/download/">jQuery code</a></li>
										<li><a href="http://www.unheap.com">Unheap</a>
									</ul>
								</div>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href=""></a></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
