{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 25</h6>
					<h1 class="z">Week 04</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>Use HTML and CSS to create a browser-based version of your concert posters.
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Resources</h2>
							</div>
							<div class="section-content">
								<div class="links-list">
									<h6 class="mt-md">Tools & resources</h6>
									<ul>
										<li><a href="http://www.w3schools.com/tags/">W3Schools HTML reference</a></li>
										<li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#embedded_content">Mozilla HTML reference</a></li>
										<li><a href="http://www.sitepoint.com/web-foundations/structural-elements/">Sitepoint Structural elements</a></li>
										<li><a href="http://www.w3schools.com/tags/">Mozilla CSS overview</a></li>
										<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Properties_Reference">Common CSS Properties reference</a></li>
										<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">Mozilla CSS reference</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="http://www.vulture.com/2014/01/history-of-the-selfie.html">Art at Arm’s Length: A History of the Selfie</a>, Jerry Saltz.</p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
