{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 13</h6>
					<h1 class="z">Week 11</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>Research an interactive project that interests you. Be prepared to explain why you chose it.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://www.dropbox.com/s/sikiju1edw37wwt/Karl-Gerstner_Designing-Programmes.pdf?dl=0">Designing Programmes, Gerstner</a></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
