{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>December 18</h6>
					<h1 class="z">Week 16</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Final Assignment</h2>
							</div>
							<div class="section-content">
								<p>
									Your final project is to create a showcase (or portfolio) of every project we’ve done this semester. It should live on your class homepage, which may or may not be the <code>index.html</code> file in the <code>public_html</code> folder on your server.
								</p>
								<p>
									The goal of this page is to show off your work from the semester. It should be visually compelling and easy to navigate. Since the class is focused on JavaScript and not HTML, how will you utilize those skills on this page to interesting (and useful) effect?
								</p>
								<p>
									Think about how you will organize your projects too. For example, how would you represent a Codecademy assignment vs. an original piece of work you created. How would you show a multi-part project like our concert posters from weeks 1-3? Or a project like the console app that doesn't really look like anything?
								</p>
                <p><strong>If your problems are technical (with your code):</strong></p>
                <p>
                  <ul>
                    <li>+ did you try Googling it or going to Stack Overflow?</li>
                    <li>+ did you try the reference materials listed on the class website?</li>
                    <li>+ did you go back through old examples that you know work and reverse-engineer solutions?</li>
                    <li>+ did you ask a classmate? everyone in the class is super nice.</li>
                    <li>+ did you really, really concentrate and look at all the places you could’ve made obvious mistakes. the most common mistakes I’ve seen this semester are the simplest ones:</li>
                    <ul>
                      <li>+ typos, names of things not matching, etc.</li>
                      <li>+ unclosed things like &lt;&gt;(){};</li>
                      <li>+ missing indentation or spacing that makes it hard to debug</li>
                      <li>+ you’re working on a file that’s different than the one you think you’re working on</li>
                      <li>+ you’re not using the inspector</li>
                    </ul>
                  </ul>
                </p>
                <p><strong>If your problems are conceptual (with the design):</strong></p>
                <p>
                  <ul>
                    <li>+ what is the basic purpose of this website? These are your requirements. Spoiler: you need a list of projects we did this semester. How far you take the concept of a list is is up to you.</li>
                    <li>+ what is the story you’re trying to tell a visitor to the site? Spoiler: here’s what I did this semester, here’s why I did it, here’s how I did it, and look how fresh it is. (B)</li>
                    <li>+ what would make this list not just useful, but also fun/engaging/interesting/thought-provoking/elegant/resonant/whatever nice adjectives you want to shoot for. Graphic design = communication → Communication = Hugs. (A)</li>
                  </ul>
                </p>
                <p><strong>If all else fails:</strong></p>
                <p>Go re-read the grading criteria. Your weekly assignments are worth twice as much as the final is. You can still fix and improve them for better grades! And as I mentioned in class, the last weekly assignment that you haven’t turned in yet is weighted more heavily because it’s two weeks long and the last assignment so make it great.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Examples of nice project showcases</h2>
							</div>
							<div class="section-content">
								<p><a href="http://beijing-connection.com">ECAL Beijing Connection</a></p>
								<p><a href="http://printedweb.org">Printed Web</a></p>
								<p><a href="https://www.chromeexperiments.com">Chrome Experiments</a></p>
								<p><a href="http://dow-smith.com">Jake Dow-Smith</a></p>
								<p><a href="http://www.fullstopnewparagraph.co.uk">Full Stop New Paragraph</a></p>
							</div>
						</div>

					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
