{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>September 18</h6>
					<h1 class="z">Week 03</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment 1</h2>
							</div>
							<div class="section-content">
								<p>Create your own program using at least one of each of the following coding concepts we covered in class:</p>
								<ol>
									<li>setting and getting variables</li>
									<li>strings and integers</li>
									<li>printing to the console</li>
									<li>operators: greater than, less than, equal to, or, &amp; and</li>
									<li>conditionals: if, else, elseif</li>
									<li>console</li>
									<li>confirm and prompt</li>
									<li>math functions</li>
								</ol>
								<br>
								<p>Turn your assignment in by uploading the working program to your server via FTP. It must run in a browser.</p>
								<p>Bonus: Push the code to your Github repository.</p>
							</div>
							<div class="section-header">
								<h2>Assignment 2</h2>
							</div>
							<div class="section-content">
								<p>Create an account at <a href="https://www.codecademy.com">Codecademy</a> and complete <a href="https://www.codecademy.com/en/tracks/javascript">Javascript: Introduction to Javascript</a> (both sections). Email screenshots of the completed assignments to Dana.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://www.dropbox.com/s/wm0e8792abb9g97/Paragraphs_on_Conceptual_Art_Sol_LeWitt.pdf?dl=0">Paragraphs on Conceptual Art</a>, Sol Lewitt.</p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
