{% extends layout %}

{% block body %}

	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">

				<header class="site-header">
					<h6>November 13</h6>
					<h1 class="z">Week 11</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>Play with your p5 drawing and document the results. You can modify the code we wrote in class, write your own new code, or research examples from the web. Make a simple page to show off the results, either using live code (you’ll need to call separate functions for each example) or screenshots.</p>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p><a href="https://www.dropbox.com/s/sikiju1edw37wwt/Karl-Gerstner_Designing-Programmes.pdf?dl=0">Designing Programmes, Gerstner</a></p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
