{% extends layout %}

{% block body %}


	<div class="container-fluid">
		<div class="inner">

			{% include 'sidebar' %}

			<div class="content">
				<header class="site-header">
					<h6>October 9</h6>
					<h1 class="z">Week 06</h1>
				</header>

				<section id="description">
					<div class="container-fluid">
						<div class="inner">
							<div class="section-header">
								<h2>Assignment</h2>
							</div>
							<div class="section-content">
								<p>jQuery plugins – Week 2</p>
                <ol>
                  <li>Write the HTML/CSS needed to create your design</li>
									<li>Install your chosen plugin</li>
									<li>Customize your plugin as necessary</li>
									<li>Turn in your project by uploading it via FTP</li>
									<li>TEST!</li>
                </ol>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Resources</h2>
							</div>
							<div class="section-content">
								<div class="links-list">
									<ul>
										<li><a href="http://www.jquery.com">jQuery reference</a></li>
										<li><a href="http://jquery.com/download/">jQuery code</a></li>
										<li><a href="http://www.unheap.com">Unheap</a>
										<li><a href="https://github.com/jheftmann/cc-f15/tree/master/code_samples/week-07">Week 7 demo code</a>
									</ul>
								</div>
							</div>
						</div>
						<div class="inner">
							<div class="section-header">
								<h2>Reading</h2>
							</div>
							<div class="section-content">
								<p>No reading this week ;)</p>
							</div>
						</div>
					</div>
				</section>

			</div>

		</div>
	</div>

{% endblock %}
